In [35]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier as KNN
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics import r2_score,mean_squared_error,confusion_matrix,classification_report, log_loss, roc_auc_score, roc_curve
from sklearn.model_selection import train_test_split

In [36]:
df = pd.read_csv('Fraud.csv')

In [37]:
df.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [38]:
## Onehot-encode features: type

onehot = OneHotEncoder(handle_unknown='ignore')
df_onehot = pd.DataFrame(onehot.fit_transform(np.array(df['type']).reshape(-1,1)).toarray())

In [39]:
df = df.join(df_onehot)

In [40]:
features = ['amount', 'oldbalanceOrg', 'newbalanceOrig','oldbalanceDest', 'newbalanceDest','isFlaggedFraud',0,1,2,3,4]

In [41]:
X = np.array(df[features])
y = df['isFraud']

In [42]:
## Scale features
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [43]:
#split into train/test set
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=3000)

In [44]:
X_test

array([[-0.28779102,  0.11955669,  0.10875374, ..., -0.08095965,
         1.39903602, -0.30234516],
       [-0.25252478, -0.28871645, -0.29244171, ..., -0.08095965,
         1.39903602, -0.30234516],
       [-0.29124076, -0.22779995, -0.23363699, ..., -0.08095965,
         1.39903602, -0.30234516],
       ...,
       [-0.10807674, -0.28149129, -0.29244171, ..., -0.08095965,
        -0.71477788,  3.30747816],
       [-0.2970323 , -0.28871645, -0.29244171, ..., -0.08095965,
         1.39903602, -0.30234516],
       [ 0.08824921, -0.27801028, -0.29244171, ..., -0.08095965,
        -0.71477788, -0.30234516]])

In [71]:
model = KNN(n_neighbors=5).fit(X_train,y_train)

In [72]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,0,1,2,3,4
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0,0.0,0.0,0.0,1.0,0.0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0,0.0,0.0,0.0,1.0,0.0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0,0.0,0.0,0.0,0.0,1.0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0,0.0,1.0,0.0,0.0,0.0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0,0.0,1.0,0.0,0.0,0.0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0,0.0,0.0,0.0,0.0,1.0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0,0.0,1.0,0.0,0.0,0.0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0,0.0,0.0,0.0,0.0,1.0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0,0.0,1.0,0.0,0.0,0.0

In [73]:
sample = pd.DataFrame(df).sample(5000)
#sample = np.array(sample)

In [74]:
sample

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,0,1,2,3,4
2472044,204,CASH_OUT,137219.01,C779151054,185773.0,48553.99,C2027879844,1221246.69,1358465.70,0,0,0.0,1.0,0.0,0.0,0.0
940030,43,CASH_OUT,301577.48,C580190311,23885.0,0.00,C297979172,269548.97,571126.45,0,0,0.0,1.0,0.0,0.0,0.0
5457956,379,DEBIT,4623.97,C23169614,5037.0,413.03,C950082576,1433100.44,1437724.41,0,0,0.0,0.0,1.0,0.0,0.0
5727996,399,CASH_OUT,238387.93,C226309893,0.0,0.00,C2141809964,2351932.26,2590320.19,0,0,0.0,1.0,0.0,0.0,0.0
159866,12,CASH_IN,138209.43,C1846342511,3548957.6,3687167.03,C1940468066,5973293.28,5554273.36,0,0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2516953,205,PAYMENT,13783.49,C745633217,0.0,0.00,M64431804,0.00,0.00,0,0,0.0,0.0,0.0,1.0,0.0
424855,18,CASH_OUT,71116.52,C1636229985,95393.0,24276.48,C1900697803,0.00,71116.52,0,0,0.0,1.0,0.0,0.0,0.0
4179263,304,CASH_OUT,92294.75,C1787651697,0.0,0.00,C1423245103,1120711.14,1213005.89,0,0,0.0,1.0,0.0,0.0,0.0
4802817,346,CASH_OUT,174018.23,C1037704101,0.0,0.00,C259816736,221455.42,395473.65,0,0,0.0,1.0,0.0,0.0,0.0
605822,34,CASH_IN,70989.59,C593919869,30213.0,101202.59,C748329563,0.00,0.00,0,0,1.0,0.0,0.0,0.0,0.0

In [75]:
y_true = sample['isFraud']
sample = np.array(sample[features])

In [76]:
knn_pred_test = model.predict(sample)

In [77]:
#knn_pred_train = model.predict(X_train)

In [78]:
#knn_pred_test = model.predict(X_test)

In [79]:
print(classification_report(y_true, knn_pred_test))

              precision    recall  f1-score   support

           0       1.00      0.83      0.91      4994
           1       0.00      0.00      0.00         6

    accuracy                           0.83      5000
   macro avg       0.50      0.41      0.45      5000
weighted avg       1.00      0.83      0.90      5000

In [80]:
classification_report(y_true, knn_pred_test,output_dict=True)['0']

{'precision': 0.9985507246376811,
 'recall': 0.8277933520224269,
 'f1-score': 0.9051894022334136,
 'support': 4994}

In [81]:
classification_report(y_true, knn_pred_test,output_dict=True)['1']

{'precision': 0.0, 'recall': 0.0, 'f1-score': 0.0, 'support': 6}

In [82]:
classification_report(y_true, knn_pred_test,output_dict=True)['accuracy']

0.8268

In [83]:
classification_report(y_true, knn_pred_test,output_dict=True)['macro avg']

{'precision': 0.49927536231884057,
 'recall': 0.41389667601121344,
 'f1-score': 0.4525947011167068,
 'support': 5000}

In [84]:
classification_report(y_true, knn_pred_test,output_dict=True)['weighted avg']

{'precision': 0.9973524637681159,
 'recall': 0.8268,
 'f1-score': 0.9041031749507336,
 'support': 5000}